spring:
  profiles:
    active: dev
  application:
    name: jwt-test
  datasource:
    url: jdbc:postgresql://database/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  liquibase:
    contexts: dev
    change-log: classpath:db/changelog/master.xml
    enabled: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
